[submodule "deps/wasm-semantics"]
	path = deps/wasm-semantics
	url = https://github.com/kframework/wasm-semantics
	ignore = untracked
[submodule "deps/eei-semantics"]
	path = deps/eei-semantics
	url = https://github.com/hjorthjort/eei-semantics
	ignore = untracked